body {
    /* background-color: #000044; /* Тёмно-синий цвет */
    background-color: #000030; /* Тёмно-синий цвет */
    color: #FFFFFF; /* Белый цвет текста */

    /* background-color: #d1d1d1; /* Тёмно-синий цвет */

    margin: 0;
}

.header {
    width: 100%;
    height: 140px;
    /* background-color: rgb(141, 141, 141); */
    background-color: rgb(177, 177, 177);
    margin: auto;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px; */
    /* padding: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */

    .button-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        width: fit-content;
    }
    
    .nav-button {
        width: 200px;
        height: 40px;
        border-radius: 8px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        border: 0px;
    }

    .nav-button:hover {
        background-color: #2885ff;
    }

    .nav-button:active {
        font-weight: bold;
    }
}

@media (max-width: 665px) {
    .header .button-bar {
        grid-template-columns: 1fr;
    }

    .header {
        height: 200px;
    }
}

.mainTable {
    /* background-color: red; */
    width: 100%-15px;
    /* height: 10px; */
    height: auto;
    margin: 15px;

    table {
        width: 70%;
        border-collapse: collapse;
        margin: auto;
        table-layout: auto;
        word-wrap: break-word;
        overflow: hidden;
    }
    
    th, td {
        /* border: 1px solid #ddd; */
        border: 1px solid #000000;
        padding: 8px;
        text-align: left;
    }
    
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .title-for-table {
        font-size: 22px;
        text-align: center
    }

    .center-column {
        text-align: center;
    }
}

/* Стили для таблицы на странице с мерцающими звёздами */
.table-from-stars {
    table {
        background-color: rgba(31, 30, 48, 0.788);
    }

    th, td {
        border: 1px solid #6d6d6d;
    }

    color: rgb(209, 209, 209);

    th {
        background-color: #000218;
        font-weight: bold;
    }
}


