body {
    /* background-color: #000044; /* Тёмно-синий цвет */
    /* background-color: #000030; /* Тёмно-синий цвет */
    /* color: #FFFFFF; /* Белый цвет текста */

    background-color: #d1d1d1; /* Тёмно-синий цвет */

    margin: 0;
}

.header {
    width: 100%;
    height: 140px;
    background-color: rgb(141, 141, 141);
    margin: 0;
}


.mainTable {
    /* background-color: red; */
    width: 100%-15px;
    /* height: 10px; */
    height: auto;
    margin: 15px;

    table {
        width: 70%;
        border-collapse: collapse;
        margin: auto;
        table-layout: fixed;
        word-wrap: break-word;
        overflow: hidden;
    }
    
    th, td {
        /* border: 1px solid #ddd; */
        border: 1px solid #000000;
        padding: 8px;
        text-align: left;
    }

    td:first-child {
        width: 20%;
        /* background-color: red; */
    }

    td:nth-child(2) {
        width: 30%;
    }
    
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .title-for-table {
        font-size: 22px;
        text-align: center
    }
}


